<%- include('templete/header') %>

<div class="gallery">
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
</div>

<section id="zoomImg" class="zoomImg"></section>

<%- include('templete/footer') %>
