<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= style %>" />
    <title>Sign up</title>
  </head>
  <body>
    <section id="navigasi" class="navigasi">
      <header>
        <a href="/">Pinmark</a>
      </header>
    </section>

    <form id="signupForm">
      <h1>Sign up</h1>
      <input type="text" name="username" placeholder="User Name" />
      <p id="emailErr"></p>
      <input type="password" name="password" placeholder="Password" />
      <p id="pswdErr"></p>
      <button type="submit">Sign up</button>
      <p>Sudah punya akun? <a href="/login">Login</a></p>
    </form>
    <script src="<%= script %>"></script>
  </body>
</html>
