<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= style %>" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
      /*  font-family: "Roboto Slab", serif; */
      @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
      /* font-family: "Barlow Condensed", sans-serif; */
    </style>

    <title>Ganti foto profile</title>
  </head>
  <body>
    <section id="navigasi" class="navigasi">
      <header>
        <a href="/">Pinmark</a>
      </header>
    </section>

    <section class="formFotoProfile">
      <form id="formFotoProfile">
        <h1>Ganti Foto Profile</h1>

        <input
          type="file"
          name="profile"
          id="fileimg"
          accept="image/*"
          required
        />

        <img src="#" alt="your image" id="preview" />

        <button type="submit">Selesai</button>
      </form>
    </section>

    <script src="<%= script %>"></script>
  </body>
</html>
